* {
    margin: 0;
    padding: 0;
}
.grid_layout {
    background-color: rgb(31, 31, 31);
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-gap: 20px;
    grid-template-rows: 1fr 80px 80px 80px 1fr;
    grid-template-columns: 1fr 300px 1fr;
    grid-template-areas: 
    ". . ."
    ". pl ."
    ". jo ."
    ". ho ."
    ". . .";
}
span {
    color: white;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#join {
    grid-area: jo;
}

#join:hover, #host:hover, #spela:hover {
    background-color:  rgb(10, 121, 233);
}

#host {
    grid-area: ho;
}
#spela {
    grid-area: pl;
}
#join,  #host, #spela{
    background-color: rgb(54, 145, 231);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
}


