<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - TicTacToe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="grid_layout"> 
            <a id="spela" href="/offline"><span>Play Offline</span></a>
            <a id="join" href="/join"><span>Join</span></a>
            <a id="host" href="/host"><span>Host</span></a>   
</div>
</body>
</html>